.verde {
	margin-top: 4%;
	background-color: #B56453;
	color: white;
	padding-top: 6%;
}

.verde h1{
	font-size: 3em;
}

.ingresaT {
	background-color: #DF7B6B;
	color: white;
	padding-top: 3%;
	padding-bottom: 2%;	
}

.ingresaT textarea {
	position: relative;
	margin-left: 42%;
	color: white;
	font-size: 15px;
	background-color: #EDA298;
}

.btn-danger {
	position: relative;
	margin-left: 45%;
}

.contenedor {
	border: 1px solid black;
	margin: 0.5%;
	padding: 1%;
	background-color: #B56453;
}
 .contenedor span {
 	position: relative;
 	left: 2%;
 }

.glyphicon-trash {
	color: black;
	position: relative;
	left: 4%;
}

.tarea {
	position: relative;
	left: 5%;
}


.tachar {
	text-decoration: line-through;
	color: red;
	position: relative;
	left: 4%;
}

.footer {
	background-color: #EDA298;
	padding: 5% 0;
}

.footer span {
	font-size: 15px;
	position: relative;
	left: 25%;
}