.verde {
	margin-top: 50px;
	background-color: #B56453;
	color: white;
	padding-top: 80px;
}

.verde h1{
	font-size: 3em;
}

.ingresaT {
	background-color: #DF7B6B;
	color: white;
	padding-top: 20px;
	padding-bottom: 30px;	
}

.ingresaT textarea {
	position: relative;
	margin-left: 480px;
	color: white;
	font-size: 15px;
	background-color: #EDA298;
}

.btn-danger {
	position: relative;
	margin-left: 510px;
}

.contenedor {
	border: 1px solid black;
	margin: 10px;
	padding: 15px;
	background-color: #B56453;
}
 .contenedor span {
 	position: relative;
 	left: 20px;
 }

.glyphicon-trash {
	color: black;
	position: relative;
	left: 40px;
}

.tarea {
	position: relative;
	left: 20px;
}


.tachar {
	text-decoration: line-through;
	color: red;
	position: relative;
	left: 20px;
}

.footer {
	background-color: #EDA298;
	padding: 70px 0;
}

.footer span {
	font-size: 15px;
	position: relative;
	left: 300px;
}